<div [ngClass]="'headerStyle'">
  <form>
    <div class="form-row">
        <label class="sr-only" for="inlineFormInputGroup">Player </label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text" [ngStyle]="{'backgroundColor': 'lightblue'}">Player</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Player" [(ngModel)]="playerName"
            name="playerName">
        </div>
        <label class="sr-only" for="inlineFormInputGroup">Region</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text" [ngStyle]="{'backgroundColor': 'lightblue'}">Region</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Region" [(ngModel)]="playerRegion"
            name="playerRegion">
        </div>
        <label class="sr-only" for="inlineFormInputGroup">Filter</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text" [ngStyle]="{'backgroundColor': 'lightblue'}">Filter</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Filter" [(ngModel)]="filterArgs"
            name="filterArgs">
        </div>
        <button type="submit" class="btn btn-primary mb-2" (click)="onClick()" [ngClass]="'inputStyle'">Search</button>
    </div>
  </form>
</div>
