.headerStyle {
    width: auto;
    height: auto;
    cursor: default;
    opacity: 1;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.inputStyle {
    width: auto;
    height: auto;
    margin: 10 px;
    padding: 10 px;
    border: none;
    border-radius: 10px;
}