<head>
  <title>PUBG-Rotations</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">

<body>
  <div [ngClass]="'appStyle'">
      <div>
        <app-header></app-header>
      </div>
    <!-- <div class="row"> -->
      <app-infos [hidden]="hidden"></app-infos>
    <!-- </div> -->
    <!-- <div class="row"> -->
      <app-draw [hidden]="hidden"></app-draw>
    <!-- </div> -->
  </div>
</body>
