.infosStyle {
    width: auto;
    height: auto;
    cursor: default;
    margin-top: 10px;
    /* margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;  */
    padding: 70px;
    border: none;
    border-radius: 15px;
}